body {
  background-color: #1f1f2f;
  color: #f1f1f2;
}

#full {
  position: relative;
  width: 640px;
  height: 320px;
  margin: auto;
  box-shadow: 0px 0px 10px #181828;
}

canvas {
  width: 640px;
  height: 320px;
  /* background-color: #000000; */
}
